iframe {
    max-width: 100%;
    /* height: auto; */
}
.jumbotron {
    color: #fff;
    background: #000 url("/img/header.jpg");
    background-size: cover;
    overflow: hidden;
    opacity: 0.5;
    text-shadow: 2px 2px 5px black;
}